
div.dimmer 
{
	display: none;
	position:absolute;
	left:0px;
	right: 0px;
	top:0px;
	bottom: 0px;
	font-family:verdana;
	font-weight:bold;
	padding:0px;
	z-index:10000;
	margin: 0 auto;
	width: 100%;
	height: 1200px;
	
	opacity: 0.5;
}


div.dimming {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	padding: 0px;
	width: 620px;
	height: 340px; 
	position: absolute;
	/* set z-index higher than possible */
	z-index:10000;
	display: none;
	
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    -moz-box-shadow: 0px 0px 20px #000000;
    
}
#aboutuscontent 
{
  background: url(../images/splash_screen.jpg);
  overflow:auto;
  background-color: #F4F4F4;
  
   }

#displaylink
{
margin-top: 100px;
}
#headerlogo
{
padding-left:2%;
}
#aboutusinfo
{
color: white; 
font-family: Myriad Pro, Calibri; font-size: 14px; text-align: justify; padding: 10px;
}
table.floatingHeader
{
	color: black;
	font-size: 16px;
	font-weight: bold;
} 