#footerTile { 
height: 42px;
}

/* #footer { 
background-color: #3d3d3d;
min-height: 50px;
font-size: 13px;
font-family: "Open Sans","Raleway",Helvetica,sans-serif;
display:block;
height: 45px;
margin-top: -50px;
position: fixed;
bottom:0;
width: 100%;
z-index: 1;
filter:alpha(opacity=90); opacity:0.9;
} */


.footer_btm_block { background-color: #3d3d3d; min-height: 42px; width: 100%; float: left; }
.footer_btm { 
	font-size: 13px; 
	line-height: 40px;
	/* margin: 0 auto;  */
	/* padding:2px 5px;  */
	/* text-align: right; */ 
	color: #d0d0d0; 
	font-weight: lighter; 
	font-family: "Open Sans","Raleway",Helvetica,sans-serif; 
}

.footer_btm ul { margin: 0 10px 0 0; padding: 0; }
.footer_btm li { list-style-type: none; display: inline; }
.footer_btm li a { color: #00aaff; text-decoration: none; font-size: 13px; font-weight: lighter; font-family: "Open Sans","Raleway",Helvetica,sans-serif; }
.footer_btm li a:hover { color: #00aaff; text-decoration: underline; }
.footer_btm li a:active { color: #00aaff; text-decoration: none; }
.btm_menu_divider { color: #00aaff; margin:0 5px;}
/*Footer Style Ends Here*/


  