/*navigation*/
iprod-header-logo{
margin-top: 15px;
width: 140px;
}

/* .navbar-default  .navbar-brand{
	background-position: 22px 11px;
	height:50px;
	width: 90px;
}
.navbar-default .navbar-brand span{
	display:none;
}*/
.navbar {
	border:0;
    background-color: #23629F;
	color:#FFF;
	padding-left: 10px;
    padding-right: 25px;
}

.navbar-hmi {
background-color: #3d3d3d;
}


.navbar-brand {
	padding-left: 35px;
	text-align:left;
	height: 50px;
	color: #FFF;
	background: url(../images/iprod_logo_181_50.png) no-repeat center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	font-weight: 300;
	font-size:19px;
	line-height:18px;
	width: 200px;
	display: block;
	float: left;
}

.navbar-default .navbar-brand:hover{
	color:#FFF;
}

.navbar-default  .navbar-nav > .active > a, .navbar-default  .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: #36a3ff;
    color: #fff;
}

.navbar-default  .navbar-nav > li > a {
	color:#fff;
}

.navbar-default  .navbar-nav > li.button  {
	padding: 10px 6px;
	float:left;
}

.navbar-default  .navbar-nav > li.button > a {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	padding:4px;
	border: 1px solid rgba(0,0,0,0.15);
	width:30px;
	box-shadow:1px 1px 0 rgba(255, 255, 255, 0.2) inset;
	text-align:center;
}

.navbar-default  .navbar-nav > li.button > a:hover {
	background:rgba(255,255,255,0.07);
}

.navbar-default  .navbar-nav > li.button > a:active {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07) inset;
}

.navbar-default  .navbar-nav > li.button > a > i {
	font-size:16px;
}

.navbar-default  .navbar-nav > li.button .bubble{
	position: absolute;
	top: -6px;
	left: 20px;
	background-color: #e44c34;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color:#E23923 #D83722 #C0311E;
	border-left:1px solid #D83722;
	border-width: 1px;
	box-shadow:-1px 1px 0 rgba(0, 0, 0, 0.25);
	padding: 1px 3px 1px 2px;
	font: bold 9px Tahoma;
}

.navbar-default .navbar-nav > li.button.open:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
  left: 50%;
  margin-left: -6px;
}

.navbar-default .navbar-nav > li > a:focus {color: #FFF;}

 .navbar-nav > li.button .dropdown-menu{ 
	padding:0;
	min-width:260px;
	max-width: 280px;
 }

 .navbar-nav > li.button .dropdown-menu .content > ul{
  padding:0;
 }

.navbar-default .navbar-nav > li.button .dropdown-menu  li  ul > li > a{
	font-weight:300;
	color:#444;
	padding:11px 10px;
	padding-left: 33px;
	border-bottom:1px solid #ececec;
	position:relative;
}

.navbar-default .navbar-nav > li.button .messages  li  ul > li > a{
	padding:12px 10px;
	padding-left: 48px;
	white-space:normal;
	line-height:16px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu  li > a:hover{color:#444;background:#F8F8F8;}
.navbar-default .navbar-nav > li.button .dropdown-menu  li:last-child > a{border-bottom:0;}

.navbar-default .navbar-nav > li.button .dropdown-menu  li > a > i {
	display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 20px;
	vertical-align: middle;
	position:absolute;
	left:10px;
	top:14px;
}

.navbar-default .navbar-nav > li.button .messages  li > a > img{
	position:absolute;
	left:10px;
	top:16px;
	height:30px;
	width:30px;
}

.navbar-default .navbar-nav > li.button .messages  li > a .name{
	display:block;
	color: #555555;
    font-size: 12px;
    font-weight: 600;
	line-height:19px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu  li > a > i.success {color:#60C060;}
.navbar-default .navbar-nav > li.button .dropdown-menu  li > a > i.info {color:#4D90FD;}
.navbar-default .navbar-nav > li.button .dropdown-menu  li > a > i.warning {color:#FC9700;}
.navbar-default .navbar-nav > li.button .dropdown-menu  li > a > i.danger {color:#DA4932;}
.navbar-default .navbar-nav > li.button .dropdown-menu .nano{height:200px;}

.navbar-default .navbar-nav > li.button .dropdown-menu  li  a  .date{
	display:block;
	font-size:11px;
	color: #999999;
	font-style:italic;
	line-height: 18px;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .title {
	font-size:12px;
	font-weight:300;
	border-bottom:1px solid #DDDDDF;
	padding:8px 17px;
	color:#444;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .title a:hover{background:transparent;}

.navbar-default .navbar-nav > li.button .dropdown-menu .foot {
  padding:0;
}

.navbar-default .navbar-nav > li.button .dropdown-menu .foot a{
	background:#F7F7F7;
	padding:8px 17px;
	color:#444;
	text-align:center;
}


/*Dropdown menu*/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0px;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus , .dropdown-submenu:hover > a , .dropdown-menu  li > a:hover{ background-color: #2391ed; background-image: none; color:#FFF; }

.navbar-default .navbar-nav > li > .dropdown-menu {
	border-top: 0;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {  border-bottom-color: #fff; border-top-color: #FFF;}


.dropdown-menu > li > a, .dropdown-menu  li > a {
	font-size: 12px;
    padding: 5px 20px;
	clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    white-space: nowrap;
}

.dropdown-header {
    color: #2083D6;
	margin-top: 6px;
	padding-left: 11px;
	cursor:pointer;
}
.dropdown-header i{font-size: 14px;margin-right:4px;vertical-align: middle;}

.dropdown-menu{
	background-clip: none;
	box-shadow:1px 3px 4px rgba(0, 0, 0, 0.18);
}

.col-menu-2{
	min-width:405px;
	padding-bottom: 10px;
  padding-top: 7px;
}

.col-menu-2 > li > ul:first-child{
	border-right: 1px solid #E8E8E8;
}

.col-menu-2 > li > ul > li a{
padding-left: 32px;
}

.col-menu-2 > li > ul{
  padding:0;
}

.col-menu-2 > li > ul > li{
  list-style:none;
}


/* .user-nav{
	margin: 7.5px -15px;
}*/
.navbar-collapse.in {overflow:visible;}

#head-nav{
	padding:0;
}

#head-nav .navbar-nav{
	padding: 0 10px;
}

.col-menu-2 > div:first-child {border-right: 0;}
/*end - dropdown*/

/*Profile menu*/
.profile_menu{
	margin-left:10px;
	cursor:pointer;
}

.not-nav{
	margin:0 !important;
}

.user-nav{
	margin:0;
	margin-right: -15px;
}

.user-nav > li > a {
    padding-top: 5px;
    padding-bottom: 0px;
 }

.profile_menu .dropdown-toggle{padding: 6px 10px;}

.profile_menu img{ 
	margin-right:5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}


/*END - Profile menu*/

/*END - Dropdown menu*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: #36A3FF;
    color: #FFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #36A3FF;
    color: #FFF;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #FFF;
}


.navbar-default .navbar-toggle {
	outline:none;
	border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  padding: 6px 10px;
}

.navbar-default .navbar-toggle:hover{
	background:rgba(255,255,255,0.07);
}
.navbar-default .navbar-toggle:active{box-shadow:1px 1px 1px rgba(0, 0, 0, 0.07) inset;}
.navbar-default .navbar-toggle:focus{background:transparent;}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-default .navbar-toggle .fa {
   color: #FFFFFF;
   font-size:18px;
}

.navbar-collapse {
	max-height:none;
	position:relative;
}


@media (max-width: 767px) {
	#cl-wrapper{margin-top:0;}
	#pcont{
		margin-left: 0;
	}
	
	.cl-mcont{ padding: 15px;}
	
	/*nav bar*/
	.navbar {padding-right: 10px;}
	/*.navbar-fixed-top {position:relative;margin:0;}*/

	.navbar-fixed-top { position: fixed; 	top: 0; 	left: 0;}
	
	/*dropdown menu*/
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {color:#FFF;}
	.navbar-default .navbar-nav .dropdown-submenu > a:after {	border-width:0;}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {color:#FFF;}
	.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus , .navbar-nav .dropdown-submenu:hover > a { background-color: transparent; }

	.navbar-nav .dropdown-submenu ul{
		display:block;
		padding-left:20px;
	}
	
	.navbar-nav .dropdown-header {color:#FFF;}
	.navbar-nav .col-menu-2 > li  > ul > li a {color:#FFF;padding-left: 45px;}
	.navbar-nav .col-menu-3 > li  > ul  > li a {color:#FFF;padding-left: 45px;}
  
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:active {background:transparent !important;color:#FFF !important;}
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav  > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {  
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
	

	.not-nav{
		text-align:center;
		background:#218ae1;
		border-top:1px solid #2082d5;
		margin:0;
	}
	
	.navbar-default .navbar-nav > li.button {
		float:none;
		display:inline-block;
		padding:10px 4px;
		top: 100%;
	}
  
	.not-nav > li > .dropdown-menu{	text-align:left;}
	.navbar-default .navbar-nav > li.button > a {
		
	}
	
	.navbar-default .navbar-nav > li.button > a > i {
		font-size: 17px;
		vertical-align: middle;
	}
	
	.navbar-default .navbar-nav > li.button .dropdown-menu{
		 position: absolute;
		 background-color: #FFFFFF;
		 border: 1px solid rgba(0, 0, 0, 0.15);
		 box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);
		 border-top:0;
		 margin-left:-110px;
	}
	
	.navbar-default .navbar-nav > li.button .dropdown-menu > li > a{text-align:left;}
	
	.navbar-collapse {padding:0 !important;}
	.navbar-collapse .navbar-nav {margin:0;}
	.profile_menu {margin:0;}
	.profile_menu .dropdown-toggle {padding-left:15px;}
	.navbar-default .navbar-brand {width:auto;}
	.user-nav{
		margin: 7.5px -15px;
	}
	.navbar-collapse.in {overflow:visible;}
	
	#head-nav{
		padding:0;
	}
	
	#head-nav .navbar-nav{
		padding: 0 10px;
	}
	
	
	.navbar-header{padding: 0 10px;}
	
	.col-menu-2 > div:first-child {border-right: 0;}
	/*end - dropdown*/
	
	.cl-sidebar {
		background: none repeat scroll 0 0 #272930;
		width: 100%;
		position:relative;
		z-index: 1020;
	}
	
	.cl-sidebar .cl-toggle{display:block;}
	
	.cl-sidebar .cl-vnavigation{
		display: none;
	}
	
	/*Stats*/
	.butstyle{
		width:100%;
		margin-right:10px;
		margin-left:0;
		max-width: 45%;
	}
	
	/*Forms*/
	.form-horizontal.group-border .form-group{
		padding:5px 0 15px 0;
	}
	.form-horizontal.group-border .form-group label{margin-bottom:7px;}
	.form-horizontal.group-border-dashed .form-group label{margin-bottom:7px;}
	
	/*Buttons*/
	
	/*Login*/
	.cl-wrapper.login-container{
		
	}
	
	.login-container .middle-login{
		width:100%;
		margin-left:0px;
		padding: 0 15px;
		left:auto;
	}
}

.navbar-title{
font-family: "Open Sans","Raleway",Helvetica,sans-serif;
background-color: #3d3d3d;
width: 70%; line-height: 50px; vertical-align: center; font-size: 36px; text-align: center; float: left;
}

.spinner {
    position: fixed;
    top: 20%;
    left: 20%;
    text-align:center;
    z-index:9000;
    overflow: auto;
    width: 520px; /* width of the spinner gif */
    height: 520px; /*hight of the spinner gif +2px to fix IE8 issue */
}



