.fuelux .radio input[type="checkbox"]:not(.sr-only), .fuelux .checkbox input[type="checkbox"]:not(.sr-only), .fuelux .radio-inline input[type="checkbox"]:not(.sr-only), .fuelux .checkbox-inline input[type="checkbox"]:not(.sr-only), .fuelux .radio input[type="radio"]:not(.sr-only), .fuelux .checkbox input[type="radio"]:not(.sr-only), .fuelux .radio-inline input[type="radio"]:not(.sr-only), .fuelux .checkbox-inline input[type="radio"]:not(.sr-only) { clip : none; }

.page-title {
    padding: 5px 0px;
    position: relative;
    font-size: 30px;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 50px 0px 15px 0px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.alert-title {
    padding: 5px 0px;
    position: relative;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 40px 0px 0px 0px;
	font-size: 20px;
	font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

.block-flat, .block-wizard{
	margin-bottom:40px;
	padding: 0px 10px 10px 10px;
	background:#FFF;
	border: none;
	box-shadow: none;
	
}

.alert {
    margin-bottom: 0px;
}

.fuelux .checkbox input[type="checkbox"]:not(.sr-only) {
	position: absolute; 
	margin: 0px 0px 0px -25px; 
	width: 15px; 
	height: 15px; 
	clip : auto; 
	overflow: hidden;
	padding: 0;
}