div.styleBackgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}

div.styleToPopup {
    font-family: "Open Sans","Raleway",Helvetica,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -410px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index: 2;
}

div.dataSource{
    font-family: "Open Sans","Raleway",Helvetica,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 35%;
    margin-left: -402px;
    position: fixed;
    top: 10%;
    width: 90%;
    z-index: 2;
	height: 500px;
}

div.stylePopupLoader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}

div.stylePopupClose {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -27px;
    top: -24px;
    width: 30px;
}

span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}

span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

div#popup_content {
    margin: 4px 7px;
       /* remove this comment if you want scroll bar
       overflow-y:scroll;
           height:200px
	       */
}

div.eulaContent{
    font-family: "Open Sans","Raleway",Helvetica,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    display: none;
    font-size: 14px;
    left: 35%;
    margin-left: -402px;
    position: fixed;
    top: 10%;
    width: 80%;
    z-index: 2000;
    /*overflow-y:scroll;*/
	height: auto;
	background: url(../images/splash_screen.jpg);  
}


div.popUpContentDiv{
	overflow-y:scroll;
	z-index: 2;
	height: 680px;
}

div.loader {
    background: url("../images/loading_p.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}

div.popupclose {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
	right: 10px;
	top: 10px;
    width: 30px;
	z-index:2;
}

span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}

span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}

div#toPopup {
    font-family: "Open Sans","Raleway",Helvetica,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 60%;
    z-index: 2;
    /*overflow-y:scroll;*/
	height: auto;
}

#loading-div-background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background:#fff ;
    width: 100%;
    height: 100%;
}

#loading-div{
     width: 300px;
    height: 150px;
    background-color: #fff;
    border: 5px solid #1468b3;
    text-align: center;
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -80px;
    border-radius: 5px;
}

#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}


div.aboutUsContent{
    font-family: "Open Sans","Raleway",Helvetica,sans-serif;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    position: fixed;
	left:30%;
	right:30%;
    top: 20%;
	width:40%;
    z-index: 2;
	background: url(../images/splash_screen.jpg);  
	background-color: #F4F4F4;
}

#copyrightinfo
{
text-align:center;
color:white;
top:20%;
}

#aboutusheaderinfo
{
top:60%;
color:white;
font-size:45px;
text-align:center;
}

#warninginfo
{
margin-left:10%;
margin-right:10%;
color:white;
word-spacing:2px;
display: inline-block;
font-size: 16px; text-align: justify; padding: 10px;
}

#versioninfo
{
text-align:center;
color:white;
font-size: 20px;
}

#aboutusinfo
{
padding-top:8%;
margin-left:10%;
margin-right:10%;
color: white; 
font-family: Myriad Pro, Calibri; font-size: 18px; text-align: justify; padding: 10px;
}


